@font-face {
  font-family: Harry;
  src: url(./font/HarryPotter-ov4z.ttf);
}

body {
  background-color: black;
  background-position: center;
  display: flex;
  font-family: Harry;
  font-size: xx-large;
  flex-direction: column;
  flex: 100vh;
  margin: 0;
}

.button{
  width: 150px;
}

.form-group{
  width: 200px;
  align-content: center;
  
}

.btn.btn-primary {
  background: transparent;
  border: none;
  width: 200px;
  height: auto;
}

.btn-primary {
  color: transparent;
  background-color: transparent;
  border: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: transparent;
  border: none;
}

.banner {
  display: inline-block;
}

.modal-dialog {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  text-align: center;
  position: relative;
}

img-fluid {
  max-width: 100%;
  height: 200px;
  width: auto;
}

h1 {
  font-family: Harry;
}

p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Modal Header */
.modal-header {
  border: none;
  color: white;
}

.modal-content {
  align-items: center;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  font-weight: bolder;
  font-family: Harry;
  font-size: 28px;
  color: black;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-footer {
  padding: 2px 16px;
  color: white;
  border: none;
}

.btn.btn-secondary {
  color: white;
  float: right;
  background-color: black;
}

h5{
  display: inline;
}

.Gryffindor {
  color: darkred;
}

.Hufflepuff {
  color: gold;
}

.Ravenclaw {
  color: navy;
}

.Slytherin {
  color: green;
}
