@font-face {
    font-family: Harry;
    src: url(./font/HarryPotter-ov4z.ttf)
}
body {
    background-color: #ecb939;
    font-family: Harry;
    color: white;
}
h1{
  font-family: Harry;
  text-align: center;
}

p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  width: fit-content;
}

.Gryffindor{
    color: darkred;
  }

  .Hufflepuff{
    color: gold;
  }

  .Ravenclaw{
    color: navy;
  }

  .Slytherin{
    color: green;
  }
