@font-face {
  font-family: Harry;
  src: url(./font/HarryPotter-ov4z.ttf);
}

body {
  background-color: #0e1a40;
  background-position: center;
  display: flex;
  font-family: Harry;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex: 100vh;
  margin: 0;
}

a{
  font-size: xx-large;
  line-height: 50p;
}

h1 {
  font-family: Harry;
  text-align: center;
}

.swiper-slide img {
  max-height: 500px;
  width: auto;
  padding-bottom: 20px;
}

.nav{
  display: inline-flex;
justify-content: space-around;
}

p {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  width: fit-content;
  color: black;
  font-size: large;
}

.Gryffindor {
  color: darkred;
}

.Hufflepuff {
  color: gold;
}

.Ravenclaw {
  color: black;
}

.Slytherin {
  color: green;
}
